.studio-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.studio-link:hover{
    color: #2196F3; 
}

.portfolio-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.portfolio-link:hover{
    color: #2196F3; 
}

.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;


}

.contacts-link:hover{
    color: #2196F3; 

}
.contacts-links{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.phone{
    color: #757575;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
font-family: 'Roboto', sans-serif;
text-decoration: none;

}

.phone:hover{
    color: #2196F3;  
}

.emal{
    color: #757575;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
font-family: 'Roboto', sans-serif;
text-decoration: none;

}

.email:hover{
    color: #2196F3; 
}

.backround-first{
    width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}

.effective-choise{
    color: #FFFFFF;
    font-weight: 900;
font-size: 44px;
line-height: 60px;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
position: absolute;
text-align: center;
font-family: 'Roboto', sans-serif;
}

.order-button{
    color: #FFFFFF;
    font-weight: 700;
font-size: 16px;
line-height: 30px;
position: absolute;
width: 152px;
height: 30px;
left: 724px;
top: 440px;
display: flex;
align-items: center;
text-align: center;
position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}

.logo{
font-weight: 700;
font-size: 26px;
line-height: 31px;
color:#000000 ;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;
text-decoration: none;

}

.web{
    color: #2196F3; 

}

.benefits{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.benefit-one{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.benefit-two{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.benefit-three{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.benefit-four{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
    letter-spacing: 0.03em;
    color: #757575;
}

